body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Press Start 2P', sans-serif;
  background-color: #0d0d0d;
  color: #00e6e6;
  text-shadow: 2px 2px 8px #00e6e6;
  overflow: hidden;
}

.home-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 12px 25px rgba(255, 26, 117);
  max-width: 400px;
  width: 90%;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

button {
  padding: 15px 25px;
  font-size: 1.2rem;
  border: 2px solid #00e6e6;
  background-color: #111;
  color: #00e6e6;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(255, 26, 117);
}

button:hover {
  background-color: #00e6e6;
  color: #111;
  box-shadow: 0 8px 20px rgba(255, 26, 117);
}

button:active {
  transform: translateY(2px);
}
